process {
    executor = 'k8s'
}

k8s{
    storageClaimName = 'nft-pvc1'
    storageMountPath = '/mnt/nft-pgx'
    storageSubPath = ''
    namespace = 'tower-nf'
    serviceAccount = 'tower-launcher-sa'
}
process{
    withName:convertToLowerCase      {container = 'biocontainers/vcftools:v0.1.16-1-deb_cv1'}
}
